<!DOCTYPE html>
<html>

<body>
    <h1>Enter the required api keys for this program to work</h1>
    
    <div>
        Spoonacular API key
        <input type="text" id="spoonacular" placeholder="Enter spoonacular api key" />
    </div>
    <div>
        LibreView API key
        <input type="text" id="libre_api" placeholder="Enter libreview api key" />
    </div>
    <div>
        Libreview Account Token
        <input type="text" id="libre_account" placeholder="Enter libreview account token" />
    </div>
    <div>
        <button id="storeApiKeys">Store keys</button>
    </div> 
    <!-- Section to display the API response -->
    <div id="apiResponse" style="margin-top: 20px;"></div>
    
</body>

<script>
    document.getElementById('storeApiKeys').addEventListener('click', async () => {
        console.log("entered");

        let apiUrl = '/setApiKeys';
        
        const spoon = document.getElementById('spoonacular').value;
        const libre_api = document.getElementById('libre_api').value;
        const livbre_account = document.getElementById('libre_account').value;

        const _body = {
            spoonacularAPIKey: spoon,
            libreViewAPIKey: libre_api,
            libreViewAccountId: livbre_account
        }

        try {
            // Make the API call with fetch
            let response = await fetch(apiUrl, {
                method: 'POST', // Use GET if the API requires it
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(_body) // Adjust payload structure as needed
            });

            // Handle the response
            if (response.ok) {
                let data = await response.json();
                document.getElementById('apiResponse').innerHTML =
                    `<strong>Response:</strong> ${data.message}`;
            } else {
                let data = await response.json();
                document.getElementById('apiResponse').innerHTML =
                    `<strong>Error:</strong> ${data.error} (${response.statusText} | ${response.statusText})`;
            }
        } catch (error) {
            document.getElementById('apiResponse').innerHTML =
                `<strong>Error:</strong> ${error.message}`;
        }
    })
</script>

</html>
